body{
    background-color: #231F20;
    overflow: hidden;
}

.step, .halfstep, .boom, .link, #zero{
    box-sizing: border-box; 
    width:100px; 
    height: 100px;
    top: 10;
    left: 10;
    position:absolute;
    border-radius: 50px;
    border-style: solid;
    border-width: 8px;
    text-align: center;
    font-family: "josefin sans";
    padding-top: 20px;
    color: white;
    user-select: none;
}

.step{
    background-color: #241A6B;
    border-color: #4345B5;
}

.halfstep{
    background-color: #3E1A6B;
    border-color: #6643B5;
}

.boom{
    background-color: #1A5E6B;
    border-color: #43B5AC;
}

.link{
    background-color: #6B1A3B;
    border-color: #BC448C;
}

#zero{ z-index: 5; }

#zero:hover, .link:hover{
    top:4px;
    left:4px;
    width:112px;
    height:112px;
    border-width: 14px;
    border-radius:62px;
}

.pathA, .blue{
    background-color: #241A6B;
    border-color: #4345B5;
}

.pathB, .purple{
    background-color: #3E1A6B;
    border-color: #6643B5;
}

.pathC, .green{
    background-color: #1A5E6B;
    border-color: #43B5AC;
}

.long{ 
    white-space: nowrap;
    overflow:visible;
    padding-top: 10px;
}

.vis{ visibility: visible; }

.invis{ visibility: hidden; }

#canv{ z-index: -3; }

#rules{
    font-family: "josefin sans";
    z-index: -1;
    top: 40px;
    left:150px;
    position:absolute;
    color:gray;
}

#copyright{
    color:white;
    font-family: "josefin sans";
    position:absolute;
}