body{
    background-color: #231F20;
    overflow: hidden;
    font-family: "josefin sans";
    color:white;
    -webkit-user-select: none; user-select: none; 
    font-size: 2.2vh;
}

a, a:visited, a:hover, a:active{ color: white; }

.step, .halfstep, .boom, .link, #zero{
    box-sizing: border-box; 
    width:14vh; 
    aspect-ratio: 1;
    top: 8vh;
    left: 8vh;
    position:absolute;
    border-radius: 50%;
    border-style: solid;
    border-width: 1vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}

.step, .pathA, .blue{
    background-color: #241A6B;
    border-color: #4345B5;
}

.halfstep, .pathB, .purple{
    background-color: #3E1A6B;
    border-color: #6643B5;
}

.boom, .pathC, .green{
    background-color: #1A5E6B;
    border-color: #43B5AC;
}

.link{
    background-color: #6B1A3B;
    border-color: #BC448C;
}

#zero{ z-index: 5; }

#zero:hover, .link:hover{
    aspect-ratio: 1;
    width: 15vh;
    border-width: 2vh;
    border-radius: 50%;
}

.vis{ visibility: visible; }

.invis{ visibility: hidden; }

#canv{ z-index: -3; }

#rules{
    z-index: -1;
    top: 40px;
    left:150px;
    position:absolute;
    color:gray;
}

#copyright{
    position:absolute;
    bottom: 2vh;
}